:root {
    --accent-color : #80ffdb;
    --main-font : 'Press Start 2P', cursive;
    --secondary-font :'Turret Road', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-family: 'Turret Road', cursive;
    color: #eeeeee;
    text-shadow: -2px 2px #000;
}
.background-image1 {
    background-image: url(images/kame-house-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

.background-image2 {
    background-image: url(images/shenron-2.jpg);
    background-size: cover;
    background-position: center;
}
.background-image3 {
    background-image: linear-gradient(#00000022, #00000022), url(images/wallpaper-goku-2.jpg);
    background-size: cover;
    background-position: center;
}

.welcome-screen {
    background-color: #100c1e ;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}

.titles-style, .scores-title {
    font-family: var(--main-font);
    font-size: 1.50rem;
    text-align: center;
    color: #EEEEEE;
    text-shadow: -3px 3px #000;
}

.audio-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons-style {
    text-align: center;
    font-size: 1rem;
    font-family: var(--main-font);
    text-shadow: -2px 2px #000;
    box-shadow: -2px 2px black;
    background-color: #80ffdb22;
    border: 3px solid var(--accent-color);
    border-radius: 5px;
    color: var(--accent-color);
    padding: 0.5em;
    transition: scale 250ms, rotate 550ms , opacity 100ms, translate 100ms, rockAnimation 250ms;
    animation: tiltingAnimation 1400ms ease infinite;
    opacity: .75;
}
.buttons-style:hover {
    background-color: var(--accent-color);
    color: #eeeeee;
    box-shadow: 0px 0px 20px var(--accent-color);
    scale: 1.4;
    rotate: 360deg;
    opacity: 1;
}
.buttons-style:active{
    translate: 0px 10px;
}

.game-container {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border: 5px solid white;
    border-radius: 10px;
}

.results-paragraph, .buttons-container, .scores-title, .div-scores-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.results-paragraph, .scores-p, .play-again-paragraph {
    font-size: 1.25rem;
}

.rps-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.yes-no-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
}

.div-scores-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-music-btn {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* Section for Keyframes and classes for animations. */

/* ======================================== */

@keyframes appear{
    0%{translate: 0px -100vh;}
    33%{translate: 0px 5%;}
    66%{translate: 0px -5%;}
    100%{ translate: 0px 0vh;}
}
.appear {
    animation: appear 1000ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
 
/* ======================================== */

@keyframes appearLeftToRight {
    0%{translate: -100vw 0;}
    33%{translate:  5% 0px;}
    66%{translate: -5% 0px;}
    100%{ translate: 0vw 0px;}
}
.appearLeftToRight {
    animation: appearLeftToRight 1000ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* ======================================== */

@keyframes playAgainAnimation {
    0%{
        rotate: 360deg;
        opacity: 1;
    }
        
    50%{
        opacity: 0;
        scale: 0;
        rotate: 0deg;
    }

    100%{
        scale: 1;
        rotate: 360deg;
        opacity: 1;
    }
}
.playAgainAnimation {
    animation: playAgainAnimation 1500ms ease;
}

/* ========================================= */

@keyframes showGameScreen {
    0% {
        scale: 2;
        opacity: 0;
        rotate: 0deg;
        }
    50% {
        scale: .9;
    }
    100%{
        scale: 1;
        opacity: 1;
        /* rotate: 360deg; */
    }
}
.showGameScreen {
    animation: showGameScreen 700ms ease-out;
}

/* ======================================== */

@keyframes tiltingAnimation {
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg);}
    100%{transform: rotate(10deg);}
}
.tiltingAnimation {
    animation-name: tiltingAnimation;
}

/* ======================================== */

@keyframes popUpParagraph {     
    0%{
        scale: 1;
        opacity: 0;
    }
    50%{
        scale: 1.3;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

.popUpParagraph {
    animation: popUpParagraph 500ms ease-in-out;
}

@keyframes popUpParagraph2 {     
    0%{
        scale: 1;
        opacity: 0;
    }
    50%{
        scale: 1.3;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

.popUpParagraph2 {
    animation: popUpParagraph2 500ms ease-in-out;
}
    /* =============================================== */

/* End of keyframes section. */

/* Start of media queries section.*/

@media screen and (max-width: 480px){ /* MOBILE DEVICES MEDIA QUERY */
    .background-image1 {
        background-image: url(mobile-version/images/img1.wallspic.com-kame_house-dragon_ball-cloud-world-building-1125x2436.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .background-image2 {
        background-image: linear-gradient(#00000055, #00000055), url(images/shenron-2.jpg);
        background-position: 75%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-image3 {
        background-image: linear-gradient(#00000011, #00000011), url(mobile-version/images/goku-vegeta.jpg);
        background-position: 70%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .welcome-screen, .game-container {
        display: flex;
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 10px;
        
    }
    .game-container {
        display: none;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .welcome-title {
        font-size: 1.2rem;
    }
    .results-paragraph, .scores-p, .play-again-paragraph {
        flex: 0 0 auto;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
    }
    .results-paragraph {
        height: 50px;
    }
    .scores-title {
        font-size: 2rem;
    }
    .rps-buttons {
        width: 89vw;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }
    .buttons-style {
        animation: none;
        font-size: 1rem;
    }
    .buttons-style:hover {
        animation: none;
        scale: initial;
        rotate: initial;
    }
    
    .div-scores-container {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .game-music-btn {
        width: 90%;
        justify-content: space-between;
    }

    .play-again-div {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: stretch;
    }

    .yes-no-buttons-container {
        width: 100%;
        padding: 20px 0px;
    }
}

@media screen and (min-width: 481px) and (max-width: 821px) {
    .background-image1 {
        background-image: url(mobile-version/images/img1.wallspic.com-kame_house-dragon_ball-cloud-world-building-1125x2436.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .background-image2 {
        background-image: linear-gradient(#00000055, #00000055), url(images/shenron-2.jpg);
        background-position: 75%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-image3 {
        background-image: linear-gradient(#00000011, #00000011), url(images/wallpaper-goku-2.jpg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .welcome-screen, .game-container{
        border: none;
        height: 100vh;
        width: 100vw;
    }
    .game-container {
        display: none;
    }
    .results-paragraph {
        flex: 0 0 auto;
        height: 50px;
    }
}